.navbar {
  background: url('./bggreen.gif');
}

.navbar-light .navbar-nav .nav-link { color: white; }

.wrapper {
  max-width: 775px;
  background-color: white;
}

.header {
  max-width: 775px;
}

.footer {
  text-align: center;
  color: white;
  background: url('./bggreen.gif');
}

.container {margin-top: 15px; margin-bottom: 15px;}